.kylo-ren-1 {
  position: relative;
  top: 40px;
  height: 500px;
  
  background: url($imgDir + 'kiloren.jpg') no-repeat;
  background-size: cover;
}

@media screen and (max-width: $breakpoint-mobile) {

  .kylo-ren-1 {
    height: 400px;
  }

}