.kylo-ren-1 {
  @include backgrounds('kiloren', 'jpg', transparent, cover, 50% 50%, no-repeat);

  position: relative;
  top: 40px;
  height: 500px;
}

@media screen and (max-width: $breakpoint-mobile) {

  .kylo-ren-1 {
    height: 400px;
  }

}