header {
  width: 100%;
  height: 500px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  background: url($imgDir + 'header-bg.png');
  background-size: 100%;
  background-position: 50% 50%;

  figure {
    position: relative;
    margin: 0 auto;
    top: $nav-margin * 2;
    z-index: 5;

    width: 100vw;

    max-width: 738px;
    height: 344px;

    background: url($imgDir + 'logo.png');
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media screen and (max-width: $breakpoint-mobile) {

  header {
    height: 400px;

    figure {
      height: 180px;
      max-width: none;
      top: 0;
      background-size: contain;
    }
  }

}