nav {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 10;

  text-align: center;
  background-color: rgba(0,0,0,0.7);

  ul{
    margin: $nav-margin 0;

    li{
      display: inline-block;
      margin: 0 20px;

      text-transform: uppercase;

      a {
        color: white;
        font-weight: $font-weight--bold;
        text-decoration: none;
        font-size: $font-size--small;
      }
    }
  }
}

#menu-hamburger-open,
#menu-hamburger-close {
  display: none;
  position: absolute;
  z-index: 25;
  margin: 10px;

  width: 45px;
  top: 15px;
  box-sizing: content-box;

  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0,0,0,0.55);

  border-radius: 5px;
  box-shadow: -3px 3px 0 rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.1);
  
  &.displayed {
    display: block;
  }
}

#menu-hamburger-open {
  height: 45px;
  right: 15px;

  background-image: url($imgDir + 'menu.png');
}

#menu-hamburger-close {
  height: 45px;
  left: 15px;

  background-image: url($imgDir + 'close.png');
}

@media screen and (max-width: $breakpoint-mobile) {

  nav {

    ul {
      display: none;

      background: url($imgDir + 'header-bg.png');
      background-size: cover;

      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      
      margin: 0;
      line-height: 60px;

      li {
        display: block;

        &:first-of-type{
          padding-top: 40px;
        }

        a {
          font-size: $font-size-mobile--large;
        }
      }
    }
  }

  body.menu-mobile-opened {
    nav {
      ul {
        display: block;
      }
    }
  }

}