// Directories
$imgDir : './../img/';


// Font-sizes :
$font-size--xsmall : 12px;
$font-size--small : 14px;
$font-size--medium : 18px;
$font-size--large : 32px;

$font-size-mobile--large : 20px;

// Font-weights : 
$font-weight--regular : 400;
$font-weight--bold : 700;

// Spacings
$nav-margin : 20px;
$section--topBottom : 100px;

// BreakPoints : 
$breakpoint-mobile : 376px